*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: rgba(117, 74, 117, 0.267);
}

h1{
  text-align: center;
  background: #ff5722;
  color: white;
  padding: 10px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card{
  background: white;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover{
  transform: scale(2.05);
}

.card img{
  width: 300%;
  height: 400px;
  object-fit: cover;
}

.card h2{
  text-align: center;
  margin: 15px 0;
}

button{
  display: block;
  margin: 15px auto 20px;
  padding: 20px 20px;
  border: none;
  background: #ff5722;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #e64a19;
}
